<ul *ngIf="desastres.length > 0; else sinDesastres">
  <li *ngFor="let d of desastres">
    <span class="nombre-desastre">{{ d.nombre }}</span>
    <span *ngIf="d.prioridad !== undefined" class="prioridad">(Prioridad: {{ d.prioridad }})</span>
    <span *ngIf="d.personasAfectadas !== undefined" class="personas-afectadas">- Personas afectadas: {{ d.personasAfectadas }}</span>
    <ul *ngIf="d.recursos && d.recursos.length > 0">
      <li *ngFor="let r of d.recursos">
        {{ r.tipo }}: {{ r.cantidad }}
      </li>
    </ul>
  </li>
</ul>
<ng-template #sinDesastres>
  <span style="color: #c00;">No hay desastres registrados.</span>
</ng-template>

